<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    	</div>
      	<div class="footer-right">
      		<a href="http://www.boboooooo.top" target="_blank">Respect</a>  All <a href="https://github.com/BoBoooooo" target="_blank">Fear</a>  none
      	</div>
    </div>
  </div>
</footer>